<!DOCTYPE html>
<html>
<head>
    <title>Trending Anime</title>
    <style>
        .image-box {
            display: none;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="anime-container"></div>

</body>
</html>
