<!-- _carousel.ejs -->

<section class="anime-carousel">
  <h2>Airing Anime for Spring 2023:</h2>
  <% if (airingAnime.length === 0) { %>
    <p>No airing anime found.</p>
  <% } else { %>
    <div class="anime-carousel-container">
      <button class="carousel-btn carousel-btn-prev" onclick="prev()">&lt;</button>
      <div class="anime-carousel-list">
        <% airingAnime.forEach(anime => { %>
          <div class="anime-carousel-item" data-id="<%= anime.id %>">
              <img src="<%= anime.coverImage.large %>" alt="<%= anime.title.english || anime.title.romaji %>">
              <div class="title-overlay">
                <%= anime.title.english || anime.title.romaji %>
              </div>
            <% if (anime.trailer) { %>
              </a>
            <% } %>
          </div>
        <% }); %>
      </div>
      <button class="carousel-btn carousel-btn-next" onclick="next()">&gt;</button>
    </div>
  <% } %>
  <script src="/public/css/carousel.css"></script>
  
</section>
