

    <header class="header">
      <a href="/">
        <img class="logo" src='/img/AniMega800x600.png' alt="Logo">

      </a>


        <div class="banner-image">
            <img src='/img/pngtree-white-minimalist-japanese-travel-banner-image_255196.jpg' alt="Banner">
          </div>

        <div class="auth-buttons">
            <button class="login-btn">Login</button>
            <button class="signup-btn">Sign Up</button>
        </div>
    </header>
