<head>
    <link rel="stylesheet" href="/css/nav-style.css">
</head>

<div id="menu">
    <div id="menu_right">
        <form id="searchForm" action="/search" method="GET">
            <input id="searchInput" type="text" name="query" placeholder="Search AniMEGA">
          </form>
          <div id="resultsContainer">
          </div>
    </div>
    <div id="menu_left">
        <ul id="nav" class="js-color-pc-constant">
            <li class="small">
                <a class="non-link" href="#">Anime</a>
            </li>
            <li class="small"><a class="non-link" href="#">Manga</a>
            </li>
            <li class=""><a class="non-link" href="#">Community</a>
            </li>
            <li class="small2"><a class="non-link" href="#">Industry</a>
            </li>
            <li class="small"><a class="non-link" href="#">Watch</a>
            </li>
            <li class="smaller"><a class="non-link" href="#">Read</a>
            </li>
            <li class="smaller"><a class="non-link" href="#">Help</a>
            </li>
        </ul>
    </div>
</div>