<div class="nav nav-unscoped transparent" style="transition: background 0.8s ease 0s, top 0.5s ease 0s;">
  <div class="wrap">
    <a href="/home" class="logo">
      <img src="/img/icons/AMicon.png" alt="AniMEGA icon">
    </a>
    <div class="links">
      <a href="/home" class="link">home</a>
      <a href="/user/" class="link">profile</a>
      <a href="/user/animelist" class="link">anime list</a>
      <span class="browse-wrap"><a href="/search/anime" class="link"></a></span>
    </div>
  </div>
</div>

<script>
  let prevScrollPos = window.pageYOffset;

  window.onscroll = function() {
    const currentScrollPos = window.pageYOffset;

    if (prevScrollPos > currentScrollPos) {
      // User is scrolling up, show the navbar
      document.querySelector('.nav').classList.remove('nav-hidden');
    } else {
      // User is scrolling down, hide the navbar
      document.querySelector('.nav').classList.add('nav-hidden');
    }

    prevScrollPos = currentScrollPos;
  };
</script>