<div class="nav nav-unscoped transparent" style="top:0px">
  <div class="wrap">
    <a href="/home" class="logo">
      <img src="/img/icons/AMicon.png" alt="AniMEGA icon">
    </a>
    <div class="links">
      <a href="/home" class="link">home</a>
      <a href="/user/" class="link">profile</a>
      <a href="/user/animelist" class="link">anime list</a>
      <span class="browse-wrap"><a href="/search/anime" class="link"></a></span>
    </div>
  </div>
</div>