<%- include('./partials/head') %>
<body>
  <main>
    <%- include('./partials/header') %>
    <section class="nav-bar">
      <%- include('./partials/home-menu') %>
    </section>
    <div class="page-content">
        <div class="review">
            <div class="banner">

            </div>
            <div class="container">
                <div class="body">
                    <div class="review-content">

                    </div>
                    <div class="score">

                    </div>
                </div>
                <div class="rating">
                    
                </div>
            </div>
        </div>
    </div>

  </main>
  <link rel="stylesheet" href="/css/header-style.css">
</body>