body {
  color: aqua;
}

#searchInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

#searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #searchResults li {
    cursor: pointer;
    padding: 5px;
    background-color: #f1f1f1;
  }
  
  #searchResults li:hover {
    background-color: #e0e0e0;
  }
  